<div class="container">
	<div class="navbar navbar-default navbar-bottom">
	  <div class="navbar-inner">
	    <div class="container">
	    	<p style="margin-top: 14px; text-align: center;" class="text-mutted pull-center">pedrovitti@gmail.com - <a href="http://www.github.com/pedrovitti/highrise_integration">http://www.github.com/pedrovitti/highrise_integration</a>
	      </p>
	    </div>
	  </div>
	</div>
</div>